@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

@layer components {
  #root {
    @apply h-full;
  }
  .link {
    @apply cursor-pointer font-semibold text-sm text-white hover:underline;
  }
  .btn-white {
    @apply px-5 py-3 rounded-full text-sm bg-white font-bold 
    hover:shadow-xl hover:text-discord-blurple focus:outline-none
    transition duration-200 ease-in-out whitespace-nowrap;
  }
  .server-icon {
    @apply cursor-pointer flex items-center justify-center h-12 w-12 rounded-[50px] bg-zinc-700 
    transition-all duration-500 ease-in-out 
    hover:rounded-2xl hover:bg-discord-blurple;
  }
}

@media screen and (max-width: 640px) {
  .clamp {
    font-size: clamp(24px, 5vw, 44px);
  }
}
